{% include 'base.html' %}
{% load static %}


{% block content %}

<div class="wrapper">
    {% include 'navbar.html' %}
 <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
                     {% if messages %}
        {% for message in messages %}
            <div class="col-12 mb-4">
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show " style="text-color:blue" role="alert">
                {{ message }}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                 </button>
                </div>
            </div>
        {% endfor %}
        {% endif %}
            <div class="col-12">
              <h2 class="page-title">Transfer Asset</h2>
              <p class="text-muted">This is a form to transfer assets. Make sure you provide all the required fields. Title deed number must to be unique.</p>
              <div class="card-deck">
              </div> <!-- / .card-desk-->
              <div class="row">
                <div class="col-md-12">
                  <div class="card shadow mb-4">
                    <div class="card-header">
                      <strong class="card-title">All fields are required.</strong>
                    </div>
                    <div class="card-body">
                      <form method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="form-row">
                            <div class="form-group col-md-5">
                            <label for="inputPhone">Transfer To</label>
                            {{ form.transfer_to }}
                          </div>
                             <div class="form-group col-md-3">
                            <label for="warranty">Transfer From</label>
                            {{ form.transfer_from }}
                          </div>
                          </div>
                          <div class="form-row">
                          <div class="form-group col-md-6">
                          <label for="inputCondition">Remarks</label>
                          {{ form.remarks }}
                        </div>
                          </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                          <label for="file-input">Transfer Date</label>
                          {{ form.transfer_date }}
                        </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Transfer Asset</button>
                      </form>
                    </div> <!-- /. card-body -->
                  </div> <!-- /. card -->
                </div> <!-- /. col -->
              </div> <!-- /. end-section -->
             </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
      </main>

</div>

{% include 'scripts.html' %}

{% endblock content %}