{% include 'base.html' %}
{% load static %}


{% block content %}

<div class="wrapper">
    {% include 'navbar.html' %}
 <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="page-title">Edit Datacenter Equipment Details</h2>
              <p class="text-muted">This is a form to view and update datacenter equipment.</p>
              <div class="card-deck">
              </div> <!-- / .card-desk-->
              <div class="row">
                <div class="col-md-12">
                  <div class="card shadow mb-4">
                    <div class="card-header">
                      <strong class="card-title">All fields are required.</strong>
                    </div>
                    <div class="card-body">
                      <form method="post">
                          {% csrf_token %}
                                               <div class="form-row">
                          <div class="form-group col-md-6">
                            {{ form.asset.name.label_tag }}
                            {{ form.asset.name }}
                          </div>
                        </div>
                          <div class="form-row">
                            <div class="form-group col-md-5">
                            <label for="inputPhone">Serial Number</label>
                            {{ form.datacenter.serial_number }}
                          </div>
                             <div class="form-group col-md-3">
                            <label for="regNumber">Warranty End Date</label>
                            {{ form.datacenter.warranty_end }}
                          </div>
                          </div>
                        <div class="form-row">
                           <div class="form-group col-md-3">
                            <label for="inputValue">Purchase Value</label>
                            {{ form.asset.purchase_value }}
                          </div>
                          </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                          <label for="inputCondition">Condition</label>
                          {{ form.asset.condition }}
                        </div>
                        <div class="form-group mb-3">
                        <label for="example-date">Date Purchased</label>
                            {{ form.asset.date_purchased }}
                      </div>
                        </div>
                          <div class="form-row">
                             <div class="form-group col-md-6">
                            <label for="inputCurrency">GRV Number</label>
                            {{ form.asset.grv_number }}
                          </div>
                          </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputVendor">Vendor</label>
                            {{ form.asset.vendor }}
                          </div>
                        </div>
                          <div class="form-row">
                           <div class="form-group col-md-6">
                            <label for="inputAssignee">Assignee</label>
                            {{ form.asset.assignee }}
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Update Details</button>
                      </form>
                    </div> <!-- /. card-body -->
                  </div> <!-- /. card -->
                </div> <!-- /. col -->
              </div> <!-- /. end-section -->
             </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->


     <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="row align-items-center mb-2">
                <div class="col">
                  <h2 class="h5 page-title">Asset History</h2>
                </div>
              </div>

              <div class="row">
                <!-- Recent Activity -->
                <div class="col-md-12 col-lg-6 mb-5">
                  <div class="card timeline shadow">
                    <div class="card-header">
                      <strong class="card-title">Transfers</strong>
                    </div>
                      <div class="card-body my-n2">
                      <table class="table table-striped table-hover table-borderless">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Date</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for transfer in transfers %}
                          <tr>
                            <td>{{ transfer.transfer_id }}</td>
                            <th >{{ transfer.transfer_from }}</th>
                            <td>{{ transfer.transfer_to }}</td>
                            <td>{{ transfer.created_date }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>

                  </div> <!-- / .card -->
                </div> <!-- / .col-md-6 -->
                <!-- Striped rows -->
                <div class="col-md-12 col-lg-6">
                  <div class="card shadow">
                    <div class="card-header">
                      <strong class="card-title">Repairs</strong>
                    </div>
                    <div class="card-body my-n2">
                      <table class="table table-striped table-hover table-borderless">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Cost</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for repair in repairs %}
                          <tr>
                            <td>{{ repair.repair_id }}</td>
                            <th>${{ repair.cost }}</th>
                            <td>
                                {% if repair.status == 'COMPLETED' %}
                                    <h5><span class="badge badge-success"> COMPLETED </span></h5>
                                    {% else %}
                                    <h5><span class="badge badge-warning"> IN PROGRESS </span></h5>
                                {% endif %}
                            </td>
                            <td>{{ repair.date }}</td>
                            <td>
                              <div class="dropdown">
                                <button class="btn btn-sm dropdown-toggle more-vertical" type="button" id="dr1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span class="text-muted sr-only">Action</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dr1">
                                  <a class="dropdown-item" href="{% url 'update-repair' repair.repair_id %}">Edit</a>
                                </div>
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div> <!-- Striped rows -->
              </div> <!-- .row-->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->


      </main>

</div>


{% include 'scripts.html' %}
{% endblock content %}