{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}


    <div class="wrapper">
            {% include 'navbar.html' %}
      <main role="main" class="main-content">

        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="row align-items-center mb-2">
                <div class="col">
                  <h2 class="h3 page-title">Welcome {{ request.user.full_name }}</h2>
                </div>
                <div class="col-auto">
                  <form class="form-inline">
                    <div class="form-group d-none d-lg-inline">
                      <label for="reportrange" class="sr-only">Date Ranges</label>
                      <div id="reportrange" class="px-2 py-2 text-muted">
                        <span class="small"></span>
                      </div>
                    </div>

                  </form>
                </div>
              </div>

                <div class="row">
                <div class="col-md-4 mb-4">
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col">
                          <span class="h3 mb-0">${{ total_nbv | floatformat:2 | intcomma }}</span>
                          <h6 class="text-muted mb-0">NET ASSETS VALUE</h6>
                        </div>
                        <div class="col-auto">
                          <span class="fe fe-32 fe-dollar-sign text-primary mb-0"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col">
                          <span class="h3 mb-0">${{ total_acc_dep | floatformat:2 | intcomma }}</span>
                          <h6 class="small text-muted mb-0">ACCUMULATED DEPRECIATION</h6>
                        </div>
                        <div class="col-auto">
                          <span class="fe fe-32 fe-trending-down text-primary mb-0"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col">
                          <span class="h3 mb-0">${{ total_expense | floatformat:2 | intcomma }}</span>
                          <p class="small text-muted mb-0">TOTAL EXPENSES</p>
                        </div>
                        <div class="col-auto">
                          <span class="fe fe-32 fe-tool text-primary mb-0"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row items-align-baseline">
                <div class="col-md-12 col-lg-4">
                  <div class="card shadow eq-card mb-4">
                    <div class="card shadow mb-4">
                    <div class="card-header">
                     <h5> <strong class="card-title mb-0">Asset Repairs</strong></h5>
                    </div>
                    <div class="card-body text-center">
                      <div id="valuationChart"></div>
                    </div> <!-- /.card-body -->
                  </div>
                  </div> <!-- .card -->
                </div> <!-- .col -->
                  <div class="col-md-12 col-lg-3">
                  <div class="card shadow eq-card mb-4">
                    <div class="card-body mb-n3">
                      <div class="row items-align-baseline h-80">
                        <div class="col-md-12 my-3 text-center">
                          <p class="mb-0"><strong class="mb-0 text-uppercase text-regular">Total Assets</strong></p>
                          <h4 class="">{{ total_assets }}</h4>
                        </div>
                          <div class="col-md-12 my-3 text-center">
                          <p class="mb-0"><strong class="mb-0 text-uppercase text-regular">Disposed Assets</strong></p>
                          <h4 class="">{{ total_disposed_approved }}</h4>
                        </div>
                          <div class="col-md-12 my-3 text-center">
                          <p class="mb-0"><strong class="mb-0 text-uppercase text-regular">Total Repairs</strong></p>
                          <h4 class="">{{ total_repairs }}</h4>
                        </div>
                          <div class="col-md-12 my-3 text-center">
                          <p class="mb-0"><strong class="mb-0 text-uppercase text-regular">Total Transfers</strong></p>
                          <h4 class="">{{ total_transfers }}</h4>
                        </div>
                      </div>

                    </div> <!-- .card-body -->
                  </div> <!-- .card -->
                </div> <!-- .col -->
                 <div class="col-12 col-md-5">
                  <div class="card shadow mb-4">
                    <div class="card-header">
                     <h5> <strong class="card-title mb-0">Total Assets</strong><span class="text-muted">({{ total_assets }})</span></h5>
                    </div>
                    <div class="card-body text-center">
                      <div id="donutChart1"></div>
                    </div> <!-- /.card-body -->
                  </div> <!-- /.card -->
                </div> <!-- /. co
                  </div>  /.card -->
                </div> <!-- /.
                  </div>  /.card -->
                </div> <!-- /. col -->
                <!-- Recent Activity -->
                 <!-- / .col-md-6 -->
                <!-- Striped rows -->
                <div class="col-md-12 col-lg-12">
                  <div class="card shadow">
                    <div class="card-header">
                      <strong class="card-title">Recent Asset Revaluations</strong>
                      <a class="float-right small text-muted" href="#">View all</a>
                    </div>
                    <div class="card-body my-n2">
                      <table class="table table-striped table-hover table-borderless">
                        <thead>
                          <tr>
                            <th><strong>#</strong></th>
                            <th><strong>Name</strong></th>
                              <th><strong>Asset Class</strong></th>
                            <th><strong>Old Value</strong></th>
                            <th><strong>New Value</strong></th>
                            <th><strong>Accumulated Depreciation</strong></th>
                            <th><strong>Purchase Date</strong></th>
                            <th><strong>Performed By</strong></th>
                               <th><strong>Date Added</strong></th>

{#                              <th><strong>Action</strong></th>#}
                          </tr>
                        </thead>
                        <tbody>
                        {% for record in revaluation_records %}
                          <tr>
                            <td>{{ record.id }}</td>
                            <td>{{ record.asset.name }}</td>
                              <td>{{ record.content_type.name.title }}</td>
                            <td>${{ record.old_value }}</td>
                            <td>${{ record.new_value }}</td>
                            <td>${{ record.accumulated_depreciation }}</td>
                               <td>{{ record.asset_purchase_date }}</td>
                               <td>{{ record.perfomed_by }}</td>
                              <td>{{ record.created_date }}</td>
{#                            <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                <span class="text-muted sr-only">Action</span>#}
{#                              </button>#}
{#                              <div class="dropdown-menu dropdown-menu-right">#}
{#                                <a class="dropdown-item" href="#">View</a>#}
{#                              </div>#}
{#                            </td>#}
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </main>

        <script src="{% static 'js/apexcharts.min.js' %}"></script>
    <script src="{% static 'js/apexcharts.custom.js' %}"></script>
        <script src="{% static 'js/tinycolor-min.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script>



        var base = {
        defaultFontFamily: "Overpass, sans-serif",
        primaryColor: "#1b68ff",
        secondaryColor: "#4f4f4f",
        successColor: "#3ad29f",
        warningColor: "#ffc107",
        infoColor: "#17a2b8",
        dangerColor: "#dc3545",
        darkColor: "#343a40",
        lightColor: "#f2f3f6",
    },
    extend = {
        primaryColorLight: tinycolor(base.primaryColor).lighten(10).toString(),
        primaryColorLighter: tinycolor(base.primaryColor).lighten(30).toString(),
        primaryColorDark: tinycolor(base.primaryColor).darken(10).toString(),
        primaryColorDarker: tinycolor(base.primaryColor).darken(30).toString(),
    },
        chartColors = [base.primaryColor, base.successColor, "#6f42c1", extend.primaryColorLighter],
    colors = { bodyColor: "#6c757d", headingColor: "#495057", borderColor: "#e9ecef", backgroundColor: "#f8f9fa", mutedColor: "#adb5bd", chartTheme: "light" },
    darkColor = { bodyColor: "#adb5bd", headingColor: "#e9ecef", borderColor: "#212529", backgroundColor: "#495057", mutedColor: "#adb5bd", chartTheme: "dark" },
    curentTheme = localStorage.getItem("mode")



         var donutchart,
    donutChartOptions = {
        series: [ {{ total_motor_vehicles }} ,{{ total_equipment }},{{ total_machinery }},{{ total_land }}, {{ total_buildings }}, {{ total_fixture }}, {{ total_furniture }}],
        chart: { type: "donut", height: 305, zoom: { enabled: !1 } },
        theme: { mode: colors.chartTheme },
        plotOptions: { pie: { donut: { size: "40%" }, expandOnClick: !1 } },
        labels: ["Motor Vehicles", "Computer Equipment", "Machinery", "Land", "Buildings", "Fixture", "Furniture"],
        legend: {
            position: "bottom",
            fontFamily: base.defaultFontFamily,
            fontWeight: 400,
            labels: { colors: colors.mutedColor, useSeriesColors: !1 },
            horizontalAlign: "left",
            fontFamily: base.defaultFontFamily,
            markers: { width: 10, height: 10, strokeWidth: 0, strokeColor: "#fff", radius: 6 },
            itemMargin: { horizontal: 10, vertical: 2 },
            onItemClick: { toggleDataSeries: !0 },
            onItemHover: { highlightDataSeries: !0 },
        },
        stroke: { colors: [colors.borderColor], width: 1 },
        fill: { opacity: 1, colors: ['#1b68ff', '#3ad29f', '#fd7e14', '#dc3545', '#6f42c1', '#f884dc', '#FFFF00'] },
    },
    donutchartCtn = document.querySelector("#donutChart1");
donutchartCtn && (donutchart = new ApexCharts(donutchartCtn, donutChartOptions)).render();

  var valuationChart,
    valuationChartOptions = {
        series: [{{ inprogress_repairs }},{{ rejected_repairs}},{{ repairs_pending_approval }}],
        chart: { type: "donut", height: 305, zoom: { enabled: !1 } },
        theme: { mode: colors.chartTheme },
        plotOptions: { pie: { donut: { size: "40%" }, expandOnClick: !1 } },
        labels: ["In Progress", "Rejected", "Pending Approval"],
        legend: {
            position: "bottom",
            fontFamily: base.defaultFontFamily,
            fontWeight: 400,
            labels: { colors: ['#1b68ff', '#3ad29f', '#fd7e14', '#dc3545', '#6f42c1', '#f884dc', '#FFFF00'], useSeriesColors: !1 },
            horizontalAlign: "left",
            fontFamily: base.defaultFontFamily,
            markers: { width: 10, height: 10, strokeWidth: 0, strokeColor: "#fff", radius: 6 },
            itemMargin: { horizontal: 10, vertical: 2 },
            onItemClick: { toggleDataSeries: !0 },
            onItemHover: { highlightDataSeries: !0 },
        },
        stroke: { colors: [colors.borderColor], width: 1 },
        fill: { opacity: 1, colors: ['#1b68ff', '#3ad29f', '#fd7e14', '#dc3545', '#6f42c1', '#f884dc', '#FFFF00'] },
    },
    valuationChartCtn = document.querySelector("#valuationChart");
valuationChartCtn && (valuationChart = new ApexCharts(valuationChartCtn, valuationChartOptions)).render();

</script>

    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>


</div>
     {% include 'scripts.html' %}

{% endblock content %}