{% extends 'base.html' %}

{% load humanize %}
{% load static %}
{% block content %}

<div class="wrapper">
 <main role="main" class="main-content">
     {% include 'navbar.html' %}

        <div class="container-fluid">
                {% if messages %}
        {% for message in messages %}
            <div class="col-12 mb-4">
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show " style="text-color:blue" role="alert">
                {{ message }}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                 </button>
                </div>
            </div>
        {% endfor %}
        {% endif %}
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="mb-2 page-title">Motor Vehicles</h2>
                <p class="card-text">This is a table containing all the motor vehicles owned by the organization</p>
                                <div class="row">

                <div class="col-md-6 col-xl-4 mb-4">
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-3 text-center">
                          <span class="circle circle-sm bg-primary">
                            <i class="fe fe-16 fe-shopping-cart text-white mb-0"></i>
                          </span>
                        </div>
                        <div class="col pr-0">
                          <p class="small text-muted mb-0">Total Cost Value</p>
                          <span class="h4 mb-0">${{ total_value | floatformat:2 | intcomma}}</span>
{#                          <span class="small text-danger">-16.5%</span>#}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-4 mb-4">
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-3 text-center">
                          <span class="circle circle-sm bg-primary">
                            <i class="fe fe-16 fe-tool text-white mb-0"></i>
                          </span>
                        </div>
                        <div class="col">
                          <p class="small text-muted mb-0">Total Repairs</p>
                          <div class="row align-items-center no-gutters">
                            <div class="col-auto">
                              <span class="h4 mr-2 mb-0"> ${{ total_repair | floatformat:2 | intcomma }} </span>
                            </div>
                            <div class="col-md-12 col-lg">
                              <div class="progress progress-sm mt-2" style="height:3px">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-4 mb-4">
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-3 text-center">
                          <span class="circle circle-sm bg-primary">
                            <i class="fe fe-16 fe-activity text-white mb-0"></i>
                          </span>
                        </div>
                        <div class="col">
                          <p class="small text-muted mb-0">Accumulated Depreciation</p>
                          <span class="h4 mb-0">${{ total_dep | floatformat:2 | intcomma }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- end section -->

                <div style="margin-left: 50%">
                <a href="{% url 'motor-vehicle-create' %}" style="margin-right: 15px;">
                 <button class="btn btn-primary">Add Motor Vehicle</button>
             </a>
             <a href="#" style="margin-right: 15px;">
                 <button class="btn btn-warning " data-toggle="modal" data-target="#varyModal" data-whatever="@mdo">Revaluate All Assets</button>

             </a>

              <a href="#">
                 <button class="btn btn-success">Generate Dep Journal</button>
             </a>
                </div>
                    <div class="modal fade" id="varyModal" tabindex="-1" role="dialog" aria-labelledby="varyModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="varyModalLabel">Revaluate All Motor Vehicles</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form action="{% url 'motor-vehicle-revaluate' %}" method="post" >
                                  {% csrf_token %}
                                <div class="form-group">
                                  <label for="recipient-name" class="col-form-label">Revaluation Percentage</label>
                                  {{ form.percentage }}
                                </div>
                                <div class="form-group">
                                  <label for="message-text" class="col-form-label">Remarks</label>
                                  {{ form.remarks }}
                                </div>
                                  <button type="submit" class="btn mb-2 btn-primary">Revaluate</button>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                          </div>
                        </div>
                      </div>
                <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <!-- table -->
                      <table class="table datatables" id="dataTable-1">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th><strong>Name</strong></th>
                            <th><strong>Reg Number</strong></th>
                            <th><strong>Total Cost</strong></th>
                              <th><strong>Accumulated Depreciation</strong></th>
                               <th><strong>Actual Value</strong></th>
                            <th><strong>Useful LIfe</strong></th>
                            <th><strong>Purchase Date</strong></th>
                              <th><strong>Action</strong></th>

                          </tr>
                        </thead>
                        <tbody id="tbody">
                        {% for vehicle in motorvehicles %}
                          <tr>
                            <td>{{ vehicle.asset_id }}</td>
                            <td>{{ vehicle.name }}</td>
                            <td>{{ vehicle.registration_number }}</td>
                          <td>${{ vehicle.total_cost | floatformat:2|default:"0.00" | intcomma }}</td>
                          <td>${{ vehicle.get_accumulated_depreciation | floatformat:2|default:"0.00" | intcomma}}</td>
                          <td>${{ vehicle.net_book_value | floatformat:2|default:"0.00"| intcomma}}</td>
                          <td>{{ vehicle.useful_life }}</td>
                          <td>{{ vehicle.purchase_date }}</td>



                          {% if request.user.is_admin %}
                            <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="text-muted sr-only">Action</span>
                              </button>
                              <div class="dropdown-menu dropdown-menu-right">
                                 <a class="dropdown-item" href="{{ vehicle.edit_moto_vehicles }}">View</a>
                                <a class="dropdown-item" href="{{ vehicle.repair }}">Repair</a>
                                <a class="dropdown-item" href="{{ vehicle.dispose }}">Dispose</a>
                                  <a class="dropdown-item" href="{{ vehicle.transfer }}">Transfer</a>
                              </div>
                            </td>
                           {% endif %}
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
      </main> <!-- main -->
</div>

        <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <script src='{% static 'js/daterangepicker.js' %}'></script>
    <script src='{% static 'js/jquery.stickOnScroll.js' %}'></script>
    <script src="{% static 'js/tinycolor-min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src='{% static 'js/jquery.dataTables.min.js' %}'></script>
    <script src='{% static 'js/dataTables.bootstrap4.min.js' %}'></script>
    <script>
      $('#dataTable-1').DataTable(
      {
        autoWidth: true,
        "lengthMenu": [
          [16, 32, 64, -1],
          [16, 32, 64, "All"]
        ]
      });
    </script>
    <script src="{% static 'js/apps.js' %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>

{% endblock content %}