 {% load static %}

      <nav class="topnav navbar navbar-light">

        <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
          <i class="fe fe-menu navbar-toggler-icon"></i>
        </button>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
              <i class="fe fe-sun fe-16"></i>
            </a>
          </li>
          <li class="nav-item nav-notif">
            <a class="nav-link text-muted my-2" >
              <span ><strong>{{ request.user.full_name }}</strong></span>
            </a>
          </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="avatar avatar-sm mt-2">
                <img src="{% static 'assets/images/profile.png' %}" alt="..." class="avatar-img rounded-circle">
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'logOut' %}">Log Out</a>
            </div>
          </li>
        </ul>
      </nav>
      <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
        <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
          <i class="fe fe-x"><span class="sr-only"></span></i>
        </a>
        <nav class="vertnav navbar navbar-light">
          <!-- nav bar -->
          <div class="w-100 mb-4 d-flex">
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="{% url 'home' %}">
              <img src="{% static 'assets/images/logo.png' %}">
            </a>
          </div>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item">
              <a aria-expanded="false" class="nav-link" href="{% url 'home' %}" >
                <i class="fe fe-home fe-16"></i>
                <span class="ml-3 item-text">Dashboard</span><span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Assets</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'computer-equipment' %}">
                <i class="fe fe-monitor fe-16"></i>
                <span class="ml-3 item-text">Computer Equipment</span>
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'data-center' %}">
                <i class="fe fe-cloud fe-16"></i>
                <span class="ml-3 item-text">Data Center</span>
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'office-equipment' %}">
                <i class="fe fe-printer fe-16"></i>
                <span class="ml-3 item-text">Office Equipment</span>
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'fixture-fittings' %}">
                <i class="fe fe-layers fe-16"></i>
                <span class="ml-3 item-text">Fixture and Fittings</span>
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'motor-vehicles' %}">
                <i class="fe fe-truck fe-16"></i>
                <span class="ml-3 item-text">Motor Vehicles</span>
              </a>
            </li>

          </ul>
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Apps</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
          <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'all-repairs' %}">
                <i class="fe fe-tool fe-16"></i>
                <span class="ml-3 item-text">Repairs</span>
              </a>
            </li>
             <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'vendors' %}">
                <i class="fe fe-shopping-cart fe-16"></i>
                <span class="ml-3 item-text">Vendors</span>
              </a>
            </li>
           <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'transfers' %}">
                <i class="fe fe-share fe-16"></i>
                <span class="ml-3 item-text">Transfers</span>
              </a>
            </li>
{#             <li class="nav-item w-100">#}
{#              <a class="nav-link" href="">#}
{#                <i class="fe fe-trending-down fe-16"></i>#}
{#                <span class="ml-3 item-text">Depreciation</span>#}
{#              </a>#}
{#            </li>#}
            <li class="nav-item dropdown">
            <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'disposed' %}">
                <i class="fe fe-trash fe-16"></i>
                <span class="ml-3 item-text">Disposed Assets</span>
              </a>
            </li>
          </ul>



          <p class="text-muted nav-heading mt-4 mb-1">
            <span>System</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
{#            <li class="nav-item dropdown">#}
{#              <a href="#pages" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">#}
{#                <i class="fe fe-file fe-16"></i>#}
{#                <span class="ml-3 item-text">Reports</span>#}
{#              </a>#}
{#              <ul class="collapse list-unstyled pl-4 w-100 w-100" id="pages">#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link pl-3" href="./page-orders.html">#}
{#                    <span class="ml-1 item-text">Orders</span>#}
{#                  </a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link pl-3" href="./page-timeline.html">#}
{#                    <span class="ml-1 item-text">Timeline</span>#}
{#                  </a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link pl-3" href="./page-invoice.html">#}
{#                    <span class="ml-1 item-text">Invoice</span>#}
{#                  </a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link pl-3" href="./page-404.html">#}
{#                    <span class="ml-1 item-text">Page 404</span>#}
{#                  </a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link pl-3" href="./page-500.html">#}
{#                    <span class="ml-1 item-text">Page 500</span>#}
{#                  </a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link pl-3" href="./page-blank.html">#}
{#                    <span class="ml-1 item-text">Blank</span>#}
{#                  </a>#}
{#                </li>#}
{#              </ul>#}
{#            </li>#}
            {% if request.user.is_manager %}
             <li class="nav-item ">
              <a href="#" class="nav-link">
                <i class="fe fe-users fe-16"></i>
                <span class="ml-3 item-text">Users</span>
              </a>
            </li>
            <li class="nav-item ">
              <a href="#" class="nav-link">
                <i class="fe fe-activity fe-16"></i>
                <span class="ml-3 item-text">Logs</span>
              </a>
            </li>

              {% endif %}
            <li class="nav-item ">
              <a href="{% url 'logOut' %}"  class="nav-link">
                <i class="fe fe-log-out fe-16"></i>
                <span class="ml-3 item-text">Log Out</span>
              </a>
            </li>
          </ul>


        </nav>
      </aside>