{% load static %}

    <script src='{% static 'js/jquery.stickOnScroll.js' %}'></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <script src='{% static 'js/daterangepicker.js' %}'></script>
    <script src='{% static 'js/jquery.stickOnScroll.js' %}'></script>
    <script src="{% static 'js/tinycolor-min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src="{% static 'js/d3.min.js' %}"></script>
    <script src="{% static 'js/topojson.min.js' %}"></script>
    <script src="{% static 'js/datamaps.all.min.js' %}"></script>
    <script src="{% static 'js/datamaps-zoomto.js' %}"></script>
    <script src="{% static 'js/datamaps.custom.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script>
      /* defind global options */
      Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
      Chart.defaults.global.defaultFontColor = colors.mutedColor;
    </script>
    <script src="{% static 'js/gauge.min.js' %}"></script>
    <script src="{% static 'js/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'js/apexcharts.min.js' %}"></script>
    <script src="{% static 'js/apexcharts.custom.js' %}"></script>
    <script src='{% static 'js/jquery.mask.min.js' %}'></script>
    <script src='{% static 'js/select2.min.js' %}'></script>
    <script src='{% static 'js/jquery.steps.min.js' %}'></script>
    <script src='{% static 'js/jquery.validate.min.js' %}'></script>
    <script src='{% static 'js/jquery.timepicker.js' %}'></script>
    <script src='{% static 'js/dropzone.min.js' %}'></script>
    <script src='{% static 'js/uppy.min.js' %}'></script>
    <script src='{% static 'js/quill.min.js' %}'></script>
    <script src="{% static 'js/apps.js' %}"></script>
    <script src='{% static 'js/jquery.dataTables.min.js' %}'></script>
    <script src='{% static 'js/dataTables.bootstrap4.min.js' %}'></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
{#    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>#}
<!-- Chart pie -->

